h1{
    color: black;
    font-size:40px;
    font-family: 'Courier New', Courier, monospace;
}

p{
    color: black;
}
.rIcon{
    padding:10px;
    height: 10vmin;
    width: 40px
}
.cIcon{
    padding-top: 20px;
    padding-right:20px;
    width:30px;
    color:black
}